body {
	background-color: blue;
	font-size: large;
	display: flex;
	
}
#small
{
	width:auto;
	height:auto;
	background-color: white;
}
#medium
{
	width: auto;
	height:auto;
	background-color: white;
}
#large
{
	width: auto;
	height:auto;
	background-color: white;
}

@media all and (min-width:300px) and (max-width: 768px)

{
	body
	{
		background-color: green;
		font-size: medium;
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
	}
	#large
	{
		margin:1%;
		width:auto;
		height:auto;
		background-color: white;
	}
	#small
	{
		margin:1%;
		width:auto;
		height:auto;
		background-color: white;
	}
	#medium
	{
		margin: 1%;
		width:auto;
		height: auto;
		background-color: white;
	}

}

@media all and (min-width:100px) and ( max-width: 299px)
{
	body
	{
		display: flex;
		flex-direction:column;
		background-color: red;
		font-size: small;
	
	}
	h1
	{
		font-size: 1em;
	}
	#large
	{
		margin: 1%;
		width:auto;
		height:auto;
		background-color: white;
	}
	#medium
	{
		margin: 1%;
		width: auto;
		height:auto;
		background-color: white;
	}
	#small
	{
		margin: 1%;
		width: auto;
		height:auto;
		background-color: white;
	}
}
